<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Edge_ProductAttachments>
            <version>1.0.0</version>
        </Edge_ProductAttachments>
    </modules>
    <global>
        <blocks>
            <productattachments>
                <class>Edge_ProductAttachments_Block</class>
            </productattachments>
        </blocks>
        <models>
            <catalog_resource>
                <rewrite>
                    <attribute>Edge_ProductAttachments_Model_Catalog_Resource_Attribute</attribute>
                </rewrite>
            </catalog_resource>
        </models>
        <helpers>
            <productattachments>
                <class>Edge_ProductAttachments_Helper</class>
            </productattachments>
        </helpers>
    </global>
    <default>
        <system>
            <media_storage_configuration>
                <allowed_resources>
                    <productattachment_image_folder>productattachment</productattachment_image_folder>
                </allowed_resources>
            </media_storage_configuration>
        </system>
    </default>
    <adminhtml>
        <events>
            <adminhtml_product_attribute_types>
                <observers>
                    <edge_productattachments_product_attribute_types>
                        <type>singleton</type>
                        <class>Edge_ProductAttachments_Model_Observer</class>
                        <method>addFileUploadAttributeType</method>
                    </edge_productattachments_product_attribute_types>
                </observers>
            </adminhtml_product_attribute_types>
            <catalog_product_prepare_save>
                <observers>
                    <edge_productattachments_catalog_product_prepare_save>
                        <type>singleton</type>
                        <class>Edge_ProductAttachments_Model_Observer</class>
                        <method>saveFileUploadAttribute</method>
                    </edge_productattachments_catalog_product_prepare_save>
                </observers>
            </catalog_product_prepare_save>
        </events>
    </adminhtml>
    <default>
        <general>
            <validator_data>
                <input_types>
                    <file>file</file>
                </input_types>
            </validator_data>
        </general>
    </default>
</config>